# Define environment here
ENV=dev
RGPRP_HOSTNAME=traefik.local.com

# Traefik User credentials. The password will be encrypted with htpasswd
# inside TRAEFIK_USER
TRAEFIK_USER_USERNAME=admin
TRAEFIK_USER_PASSWORD=admin

# This variable lists every DNS that will be covered by traefik for the
# certificate to properly cover every app
TRAEFIK_DNS_LIST=traefik.local.com cra.local.com mailcatcher.local.com
