# Define environment here
ENV=dev
TRAEFIK_HOSTNAME=traefik.local.com

# Traefik User credentials. The password will be encrypted with htpasswd
# inside TRAEFIK_USER
TRAEFIK_USER_USERNAME=admin
TRAEFIK_USER_PASSWORD=admin

# Email used for Let's Encrypt certificate registration (prod only)
ACME_EMAIL=your@email.com
